<a href="https://colab.research.google.com/github/allokkk/Odd-Word-Out/blob/master/odd_one_odd_challange.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import gensim
from gensim.models import word2vec
from gensim.models import KeyedVectors
from sklearn.metrics.pairwise import cosine_similarity
import pandas as pd

In [0]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:

import numpy as np

word_vectors = KeyedVectors.load_word2vec_format('/content/gdrive/My Drive/GoogleNews-vectors-negative300.bin.gz',binary=True)

/usr/local/lib/python3.6/dist-packages/smart_open/smart_open_lib.py:402: UserWarning: This function is deprecated, use smart_open.open instead. See the migration notes for details: https://github.com/RaRe-Technologies/smart_open/blob/master/README.rst#migrating-to-the-new-open-function
  'See the migration notes for details: %s' % _MIGRATION_NOTES_URL

In [0]:
! wget https://www.dropbox.com/s/59zqs3blmx3sgcq/Test%20-%20Odd%20one%20out%20Challange.csv?dl=0

--2020-02-08 08:17:04--  https://www.dropbox.com/s/59zqs3blmx3sgcq/Test%20-%20Odd%20one%20out%20Challange.csv?dl=0
Resolving www.dropbox.com (www.dropbox.com)... 162.125.8.1, 2620:100:601b:1::a27d:801
Connecting to www.dropbox.com (www.dropbox.com)|162.125.8.1|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/59zqs3blmx3sgcq/Test%20-%20Odd%20one%20out%20Challange.csv [following]
--2020-02-08 08:17:04--  https://www.dropbox.com/s/raw/59zqs3blmx3sgcq/Test%20-%20Odd%20one%20out%20Challange.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc52d5b3dfb7f99251ca795a91b4.dl.dropboxusercontent.com/cd/0/inline/Axs3Bn7LH48j_ryBQD36gPYhzzrXqwfJKh5ue0b2SKV5cbdxh_SrQETaDEQQ33tq3jfpd3_spaHpidHNqzfUFZVgCjasiNzidsTj9Znkgg-AHPhxu_vNoomvO9zKm5xXILo/file# [following]
--2020-02-08 08:17:05--  https://uc52d5b3dfb7f99251ca795a91b4.dl.dropboxusercontent.com/cd/0/inline/Axs3Bn7LH48j_ryBQD36gPYhzzrXqwfJKh5ue0b2SKV5cbdxh_SrQETaDEQQ33tq3jfpd3_spaHpidHNqzfUFZVgCjasiNzidsTj9Znkgg-AHPhxu_vNoomvO9zKm5xXILo/file
Resolving uc52d5b3dfb7f99251ca795a91b4.dl.dropboxusercontent.com (uc52d5b3dfb7f99251ca795a91b4.dl.dropboxusercontent.com)... 162.125.8.6, 2620:100:601b:6::a27d:806
Connecting to uc52d5b3dfb7f99251ca795a91b4.dl.dropboxusercontent.com (uc52d5b3dfb7f99251ca795a91b4.dl.dropboxusercontent.com)|162.125.8.6|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 654 [text/plain]
Saving to: ‘Test - Odd one out Challange.csv?dl=0.2’

Test - Odd one out  100%[===================>]     654  --.-KB/s    in 0s

2020-02-08 08:17:05 (125 MB/s) - ‘Test - Odd one out Challange.csv?dl=0.2’ saved [654/654]

In [0]:
test_data=pd.read_csv("/content/Test - Odd one out Challange.csv?dl=0")

FIND ODD FUNCTION

In [0]:

def odd_one_out2(words):
    """Accepts a list of words and returns the odd word"""
    
    # Generate all word embeddings for the given list
    all_word_vectors = [word_vectors[w] for w in words]
    avg_vector = np.mean(all_word_vectors,axis=0)
    print(avg_vector.shape)
    
    #Iterate over every word and find similarity
    odd_one_out = None
    min_similarity = 1.0 #Very high value
    
    for w in words:
        sim = cosine_similarity([word_vectors[w]],[avg_vector])
        if sim < min_similarity:
            min_similarity = sim
            odd_one_out = w
    
        #print("Similairy btw %s and avg vector is %.2f"%(w,sim))

        
            
    return odd_one_out

In [0]:
test_data.shape

(20, 5)

In [0]:
test_data.head(n=12)

       Word1      Word2    Word3      Word4     Word5
0   elephant       lion    tiger       goat     snake
1        man  policeman  fireman    teacher   postman
2      plane       bird   rocket    balloon       cat
3      onion     celery  lettuce  pineapple    potato
4      India   football   hockey    cricket  swimming
5        who        why     what      where        is
6         on         in     over      their       was
7      India  Australia    Japan     Russia     China
8     Dollar     Rupees    Euros      Cents     Money
9        eat      sleep    drink      think     dance
10       car    scooter     bike    bicycle      ship
11    Poland     Russia  England       Rome   Ukraine

In [0]:
import numpy as np
test_data.values
row2=test_data.iloc[2,:]
print(row2)

Word1      plane
Word2       bird
Word3     rocket
Word4    balloon
Word5        cat
Name: 2, dtype: object

In [0]:
print(row2) 
odd_one_out2(row2)

Word1      plane
Word2       bird
Word3     rocket
Word4    balloon
Word5        cat
Name: 2, dtype: object
(300,)

'cat'

In [0]:
l=[]
for i in range(20):
  rows=test_data.iloc[i,:]
  r=odd_one_out2(rows)
  l.append(r)

(300,)
(300,)
(300,)
(300,)
(300,)
(300,)
(300,)
(300,)
(300,)
(300,)
(300,)
(300,)
(300,)
(300,)
(300,)
(300,)
(300,)
(300,)
(300,)
(300,)

In [0]:
print(l)

['snake', 'teacher', 'cat', 'pineapple', 'India', 'is', 'was', 'Australia', 'Money', 'think', 'ship', 'Rome', 'Pool', 'Egypt', 'mouse', 'helmet', 'Universe', 'Kill', 'Club', 'Sun']

In [0]:
import csv
with open('OddOneOut.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    row_list=["OddOut"]
    writer.writerow(row_list)
    for i in l:
      row_item=[i]
      writer.writerow(row_item)

In [0]:
for j in l:
  print(j)

snake
teacher
cat
pineapple
India
is
was
Australia
Money
think
ship
Rome
Pool
Egypt
mouse
helmet
Universe
Kill
Club
Sun